<ul>

  <li><strong><%= link_to "Show All Categories", "/sessions/new"%></strong></li>


<% @categories.each do |category| %>

  <li><strong><%= link_to "#{category.name}", "/sessions/new?category=#{category.id}"%></strong></li>

<% end %>

</ul>
