<!-- login form -->

<form action="/sessions" method="post">
  <label for="merchant_username">Username:</label>
  <input type="string" name="merchant[username]"/>
  <label for="merchant_password">Password:</label>
  <input type="password" name="merchant[password]"/>
  <input type="submit" value="Sign In" class="submit"/>
</form>
