<form class = "form-style" action="/sessions" method="post">
    <fieldset>
           <legend><h2>Merchant Sign In</h2></legend><br><br>
  <label for="merchant_username">Username:</label><br>
  <input placeholder = "Username" type="string" name="merchant[username]" />
  <br><br>
  <label for="merchant_password">Password:</label><br>
  <input placeholder = "Password" type="password" name="merchant[password]" />
  <br><br>
  <div class = "basic-button">
  <input type="submit" value="Sign In" class="submit"/>
</div>

</fieldset>

 <fieldset>
   <legend><h2>Create A New Merchant Account</h2></legend><br><br>

<div class = "basic-button">
  <%= link_to "Join Now!", "/merchants/new" %>
</div>

</fieldset>

 </form>
