<table>
  <tr>
    <th>Image</th>
    <th>Artist</th>
    <th>Album</th>
    <th>Price</th>
    <th>Stock</th>
    <th>Edit/Delete options</th>
  </tr>
  <%= @Product.each do |product| %>
      <tr>
      <td>product.
  

</table>
