<h1>Dashboard</h1>

<div class="products">
  <h2><%= render "inventory" %></h2>
</div>

<div class="edit_profile">
  <h2>Edit Profile</h2>
  <p>
    Shop Name: <%= @merchant_dash.name %>
  </p>
  <p>
    Username: <%= @merchant_dash.username %>
  </p>
  <p>
    Email: <%= @merchant_dash.email %>
  </p>
  <p>
    Edit password:
  </p>
</div>
