<form class="new_entry" action="merchant/<%= @merchant.id %>" method="post" >
  <input type="hidden" name="_method" value="PUT">

  <h1>Edit Merchant</h1>

  <div>
    <label for="name">Company Name: </label>
    <input type="text" name="merchant[name]" />
  </div>
  <div>
    <label for="email">Email: </label>
    <input type="string" name="merchant[email]" />
  </div>
  <div>
    <label for="username">Username: </label>
    <input type="string" name="merchant[username]" />
  </div>
  <div>
    <label for="password">Password: </label>
    <input type="password" name="merchant[password]" />
  </div>

<br>

  <input type = "submit" value="Submit Merchant Information" class="submit">

</form>
