<div class="error">
    <ul>
    <% @merchant.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
</div>

<form class="new_entry" action="/merchants/create" method="post" >

  <h1>New Merchant</h1>

  <div>
    <label for="name">Company Name: </label>
    <input type="text" name="merchant[name]" %>
  </div>
  <div>
    <label for="email">Email: </label>
    <input type="string" name="merchant[email]" />
  </div>
  <div>
    <label for="username">Username: </label>
    <input type="string" name="merchant[username]" />
  </div>
  <div>
    <label for="password">Password: </label>
    <input type="password" name="merchant[password]" />
  </div>

<br>

  <input type = "submit" value="Create Merchant Account" class="submit">

</form>
