<h2>Check Out</h2>

Put the customer's information here and change status of ordered items in cart.

Receive cart_id
check stock values on all items

Collect consumer information
validate information

confirm information
link to finish purchase

change stock values
change status of ordered items to paid


<%= render "checkout_cart" %><br>



<%= link_to "Return To Shopping", "/sessions/new" %><br>


<br>

<%= render "customer_information" %><br>
