/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//#####################//
// GENERAL PAGE STYLING
//#####################//

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 1.1em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

a {
  text-decoration: none;
}

//Styling all submit buttons across site

input[type=submit] {
  background-color: lightgray;
  padding: 5px;
  border: none;
}


 #main_nav_bar {

   background-color: #2C3462;
   color: #E5D5D1;
 
   a {
    color: white;
   }

   li :hover {
    color: #E55852;
   }

   #logo :hover {
    color: white;
   }

   ul {
     display: block;
     list-style-type: none;
     padding: 10px;
     margin-top: 0px;
     text-align: center;
     padding-bottom: 0px;
     margin-bottom: 5px;
   }

   li {
     display: inline-block;
     margin-left: 30px;
     padding: 0px;
   }
   
   #logo {
    font-weight: bold;
    font-size: 40px;
  }
  
   #greeting {
    padding: 0px;
    margin: 0px;
    text-align: center;
    padding-bottom: 15px;
    font-size: 16px;
   }
  
 }

 .category_side_bar {
   display: block;
   width: 18%;
   float: left;

   ul {
     padding: 0 10px 0 15px;
   }

   li {
     list-style-type: none;
     margin: 8px 0;
   }
  

 }

 #product_display {
   display: block;
   width: 80%;
   float: right;

 }

.cart {
   display: inline-block;
   border: solid #ba1cbf;
   background-color: #c4b8cb;
   width: auto;
   height: auto;

 }

//#################//
// ERROR FORM STYLE
//#################//
.error {
  width: 50%;
  background-color: #EBEBEB;
  padding: 0;
  margin: 0 auto;
  border-radius: 15px;
}

.error ul {
  list-style: none;
  margin: 10px 0;
  // padding: 10px
}

.error li{
  padding: 5px 10px;
}

.error li:last-child {
  padding-bottom: 30px;
}
.error li:first-child {
  padding-top: 30px;
}
