/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



 #main_nav_bar {

   background-color: #00ff00;
   margin: 0;
   padding: 0;

   ul {
     display: block;
     list-style-type: none;
     padding: 10px;
     margin: none;
   }

   li {
     display: inline-block;
     margin-left: 10px;

   }
 }

 .category_side_bar {
   display: block;
   border: solid green;
   width: 15%;
   float: left;

   ul {

   }

   li {
     list-style-type: none;
   }

 }

 #product_display {
   display: block;
   border: solid blue;
   width: 80%;
   float: right;

 }

.cart {
   display: inline-block;
   border: solid #ba1cbf;
   background-color: #c4b8cb;
   width: auto;
   height: auto;

 }

// ERROR FORM STYLE
.error {
  width: 50%;
  background-color: #EBEBEB;
  padding: 0;
  margin: 0 auto;
  border-radius: 15px;
}

.error ul {
  list-style: none;
  margin: 10px 0;
  // padding: 10px
}

.error li{
  padding: 5px 10px;
}

.error li:last-child {
  padding-bottom: 30px;
}
.error li:first-child {
  padding-top: 30px;
}
