.cart_button {
  display: block;

  height: auto;
  width: 25%;
  background_color: #00f;
  font-family: arial;
  font-style: bold;
  border: solid #932260;
  border-radius: 1em;
  text-align: center;
}

#submit_customer_information {
  display: block;

  height: auto;
  width: 25%;
  background_color: #00f;
  font-family: arial;
  font-style: bold;
  border: solid #932260;
  border-radius: 1em;
  text-align: center;
}

#stock_remarks {
  text-align: center
}

.center-text {
  display: block;
  text-align: center;
}
