td {
  font-size: 1em;
  font-style: normal;
}

.edit_profile {
  display: block;
  position: center;
  width: auto;
  border: solid rgba(104, 112, 96, 0.44) .1em;
  margin: 10px 20px 10px 20px;
  padding: 10px;
  li {
    list-style-type: none;
  }
  h2 {
    padding: 0;
    margin: 0;
  }
  td {
    width: 40%;
    text-align: center;
  }

  // Image on Edit Product Page
  .edit-image {
    display: inline-block;
    text-align: left;
    margin-right: 20px;
    float: left;

  }
}

// Delete category button
.delete-category {
  display: inline-block;
  background-color: lightgray;
  font-size: .80em;
  line-height: 1.1em;
  border: solid  #932260 .1em;
  border-radius: .5em;
  margin-left: 10px;
  padding: 2px;
}

.products_dash {
  display: block;
  width: auto;
  margin: 20px;
  padding: 20px;
  border: solid rgba(104, 112, 96, 0.44) .1em;
  height: 500px;
  overflow: auto;
  li {
    list-style-type: none;
    text-align: center;
  }
  td  {
    text-align: center;
    width: 12%;
    border-bottom: solid rgba(1, 56, 185, 0.51) .1em;
  }

}

.right_side {
  display: inline-block;
  float: right;
  text-align: right;
}
