#merchant-index {


  margin-left: 20px;
  margin-right: 20px;
  h2, h3 {
    display: block;
    text-align: center;

  }
  h3 {
    font-size: 1em;
  }

}

//view order fulfillment
.edit_profile ul li {
  display: inline-block;
  padding: 0 10px;
}

.edit_profile ul {
  display: table;

}
