
.product_page img {
    width: 250px;
    text-align: center;

}

ul {
    list-style: none;
}

.product_page {
    text-align: center;
    position: relative;
    display:block;
}

.product_page_image{
    padding-top: 40px;
    position: relative;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 870px;
}

.product_details{
    position: relative;
    float: right;
    text-align: left;
    padding: 0;
    height: 250px;
    padding-top: 50px;
    border-style: solid;
    border-color: #E5D5D1;
    margin-bottom: 80px;
    padding-right: 35px;
}

.button {
    text-align: right;
    padding-top: 10px;
}

.product_ratings{
    position: relative;
    clear: both;
    display:block;
    text-align: center;
}


// style used to locate and give general styling to forms
.form-style {
  display: block;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  line-height: 2em;
}


.scroll_products {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;


  ul {
    display: inline-block;
    float: left;
    width: 250px;
    height: 250px;
    border: 1px solid red;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;

  }

  li {
    list-style-type: none;
    overflow: hidden;
    padding-left: 10px;
    margin: 0;
    font-size: 12px;

  }

}

// The entire product is encapsulated by this div
.product {
  display:inline-block;
  margin: 10px;
  position: relative;
  width: 210px;
}

// The product image
.product_image {
  height: 200px;
  width: 200px;
  background-color: #E5D5D1;
}

// The floating textbox
.inner_text {
  background-color: #FF2878;
  width: 180px;
  height: 180px;
  position: absolute;
  margin: 10px;
  top: 0;
  left: 0;
  //display: none;
}

// The product headers
.product h4, h5 {
  margin: 5% 5%;
}

.product a p{
  margin: 5% 5%;
}

// The plus button
.readmore {
  width: 20%;
  height: 20%;
  margin-left: 40%;
  margin-top: 10%;
  visibility: hidden;
}

// The animation for the readmore button
.fadeIn{
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;

	visibility: visible !important;
}

@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;
	}
	60% {
		transform: scale(1.1);
	}
	80% {
		transform: scale(0.9);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;
	}
	60% {
		-webkit-transform: scale(1.1);
	}
	80% {
		-webkit-transform: scale(0.9);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		opacity: 1;
	}
}
