<!-- This is the form to create new products -->

<div class="error"><!-- This pops up if validations fail -->
    <ul>
    <% @product.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
</div>

<form class="form-style" action="/products/create"  method="post" >
  <div class="center-text">
    <h1>Add New Products</h1>
  </div>


  <div>
    <label for="album_name">Album name </label>
    <input type="text" name="product[album_name]" style="width:500px", placeholder="Album Name"%>
  </div>
  <div>
    <label for="artist">Artist name </label>
    <input type="text" name="product[artist]" style="width:500px", placeholder="Artist Name" %>
  </div>
  <div>
    <label for="image">Album Photo Url </label>
    <input type="text" name="product[image]" style="width:500px", placeholder="Album Photo Url" %>
  </div>

  <div>Description<br>
    <textarea name="product[description]" style="width:500px;height:150px;" ,
    placeholder="Description"></textarea>

  </div>
  <div>
    <label for="stock">Number in Stock </label>
    <input type="text" name="product[stock]" placeholder="Number in Stock" %>
  </div>
  <div>
    <label for="price">Price </label>
    <input type="text" name="product[price]" placeholder="Price"%>
  </div>
  <div>
    <label for="active">Active </label>
    <input type="text" name="product[active]" placeholder="Active" %>
  </div>

  <input type = "submit" value="Add product" class="submit">

</form>
