<!-- This is the form to create new products -->

<div class="error"><!-- This pops up if validations fail -->
    <ul>
    <% @product.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
</div>

<form class="form-style" action="/products/create"  method="post" >
  <div class="center-text">
    <h1>Add New Products</h1>
  </div>


  <div>
    <label for="album_name">Album name </label>
    <input type="text" name="product[album_name]" %>
  </div>
  <div>
    <label for="artist">Artist name </label>
    <input type="text" name="product[artist]" %>
  </div>
  <div>
    <label for="image">Album photo url </label>
    <input type="text" name="product[image]" %>
  </div>
  <!-- <div>
    <label for="description">Description</label>
    <input type="text" name="product[description]" %>
  </div> -->
  <div>Description<br>
    <textarea name="product[description]" style="width:250px;height:150px;"></textarea>

  </div>
  <div>
    <label for="stock">Number in stock </label>
    <input type="text" name="product[stock]" %>
  </div>
  <div>
    <label for="price">Price </label>
    <input type="text" name="product[price]" %>
  </div>
  <div>
    <label for="active">Active </label>
    <input type="text" name="product[active]" %>
  </div>

  <input type = "submit" value="Add product" class="submit">

</form>
